<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- header tag is an html5 tag that creates sections in your website. they don't render anything by default, they are a way to break your program into pieces -->
     <!-- almost like a div tag-->
    <header>
        <!-- heading tab.. these are the tags that denote topic headers.. they go from h1 - h6-->
        <!-- if you want to make something a link we use an anchor tag with an html reference-->
        <!-- this usually goes inside another tab-->
         <h1><a href="/">Django Girls Blog</a></h1>
    </header>
    <!-- article tags are like the header tags in that they are placeholders to denote articles-->
     <article>
        <h2><a href="">My First Post</a></h2>
        <!--time tags allow for utc and other time stamps-->
        <time>Published: 11/24/19 2:49PM</time>
        <!--p tags are for paragraphs and large bodies of text-->
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque dolores quia accusamus sapiente distinctio. Voluptas aliquam corrupti optio quam sapiente!</p>
     </article>
     <article>
        <h2><a href="">My Second Post</a></h2>
        <!--time tags allow for utc and other time stamps-->
        <time>Published: 11/24/19 3:49PM</time>
        <!--p tags are for paragraphs and large bodies of text-->
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates et repellat, saepe non molestias sit tempore minima pariatur similique optio sint sapiente laudantium ex fuga eaque quibusdam adipisci dignissimos suscipit? Veniam placeat officiis suscipit, velit quo ab itaque inventore repellendus?</p>
     </article>
</body>
</html>